<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% @friend.each do |f| %>
      <h1>Hi <%= f.name %></h1>
      <p>
        Votre Santa est révélé ! Vous devez offrir un cadeau à <%= f.santa_name %> dont l'adresse
        email est <%= f.santa_email %>.
      </p>
    <% end %>
  </body>
</html>
