<p>
  <%= f.input :name, label: 'Veuillez entrer le nom de votre ami', :rows => 3 %>
  <%= f.input :email, label: "Veuillez entrer l'email de votre ami", :rows => 3 %>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Supprimer l'ami", remote: true %>
  <br><br>
</p>
