<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/u6fDUe2x11g);">
  <div class="container">
    <h1>Échange tes cadeaux en ligne !</h1>
    <p>Secret Santa Organizer est un organiseur en ligne gratuit d'échange de cadeaux</p>
    <a class="btn btn-flat" href="#">Commence !</a>
  </div>
</div>
